<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
        <% episode.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.number_field :season %>
  </div>

  <div class="field">
    <%= form.label :episode %>
    <%= form.number_field :episode %>
  </div>

  <div class="field">
    <%= form.label :airdate %>
    <%= form.datetime_select :airdate %>
  </div>

  <div class="field">
    <%= form.label :runtime %>
    <%= form.datetime_select :runtime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
