<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @show.summary %>
</p>

<p>
  <strong>Artwork:</strong>
  <%= @show.artwork %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @show.genre %>
</p>

<p>
  <strong>Url:</strong>
  <%= @show.url %>
</p>

<p>
  <strong>Watched:</strong>
  <%= @show.watched %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
